:root {
    --background: #d5aead;
    --content: white;
    --intro: #ebebeb;
    --title: #931c12;
    --img-border: white;
}

body {
    font-family: 'Roboto';
    background-color: var(--background);
}

main {
    max-width: 1280px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--content);
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-bottom: 40px;
}

article {
    padding: 0 64px 64px;
}

p {
    font-size: 1.5rem;
    background: var(--intro);
    padding: 20px;
}

ul,
ol {
    margin-left: -15px;
    font-size: 1.2rem;
}

h1 {
    color: var(--title);
    font-size: 2.5rem;
    margin: 64px auto 10px;
}

h2 {
    font-size: 2rem;
    margin: 20px auto 10px;
}

h2 > span {
    font-weight: normal;
}

#cover img {
    width: calc(100% - 2px);
    height: 500px;
    object-fit: cover;
    border: 1px solid var(--img-border);
}

#gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 50%;
    margin: 0px;
    padding: 0;
}

#gallery img{
    object-fit: cover;
    height: 467px;
    min-height: 467px;
}

#gallery li:not(:last-child) {
    margin-right: 20px;
}

@media (max-width: 768px) {
    main {
        margin-bottom: 0;
    }

    article {
        padding: 0 20px 20px;
    }

    #gallery {
        flex-direction: column;
    }

    #gallery img {
        width: 100%;
    }

    #gallery li:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}